.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/exmp_mute.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 18px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 25px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 17px auto 0 266px;
  padding: 9px 22px;
}

.u-section-1 .u-btn-3 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -40px 320px 0 auto;
  padding: 9px 22px;
}

.u-section-1 .u-btn-4 {
  background-image: linear-gradient(to right, #478ac9, #e68387);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 33px auto 0;
  padding: 9px 22px;
}

.u-section-1 .u-text-4 {
  width: 386px;
  margin: 30px auto 60px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 66px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 267px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 21px;
}

.u-section-2 .u-text-2 {
  margin-bottom: 21px;
  margin-top: 20px;
  font-size: 1.5rem;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}.u-section-3 .u-sheet-1 {
  min-height: 844px;
}

.u-section-3 .u-text-1 {
  margin: 20px 954px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 754px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 534px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 354px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 154px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 151px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px auto 20px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}.u-section-5 .u-sheet-1 {
  min-height: 382px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-5 .u-text-2 {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 1.5rem;
}.u-section-6 .u-sheet-1 {
  min-height: 415px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
}

.u-section-6 .u-text-2 {
  margin-bottom: 53px;
  margin-top: 20px;
  font-size: 1.5rem;
}.u-section-7 .u-sheet-1 {
  min-height: 173px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
}

.u-section-7 .u-text-2 {
  margin-bottom: 42px;
  margin-top: 20px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}.u-section-8 .u-sheet-1 {
  min-height: 310px;
}

.u-section-8 .u-text-1 {
  margin-bottom: 0;
}

.u-section-8 .u-text-2 {
  margin-bottom: 60px;
  margin-top: 20px;
  font-size: 1.5rem;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-3 {
  background-image: none;
  padding: 0;
}